<app-my-observable></app-my-observable>

<hr>
<app-my-callbacks></app-my-callbacks>
<hr>


<h1>First Example:</h1>
<app-my-counter></app-my-counter>
<hr>

<h1>Books example:</h1>


<div class="searchForm">

  <label for="userId" placeholder="userId">Search for books borrowed by user:</label>
  <input id="userId" type="number" [(ngModel)]="selectedUserId">

  <button (click)="searchForBooks(selectedUserId)">Search</button>
  <button (click)="showAllBooks()">Reset</button>
</div>


<h3>List of books:</h3>
<div clas="booksList" *ngFor="let book of libraryBooks">
  <div>
    Title:
    <span style="font-weight: bold"> {{book.name}}</span>

    <span>
      <pre>  Borrowed by user with userId: <span style="font-style: italic"> {{book.userId}}</span></pre>
    </span>
  </div>
  <br/>
</div>
<hr>


<h3>Movies example</h3>
<div>
  <div *ngFor="let movie of starWarsMovies">
    Title: <b>{{movie.title}}</b> year: <i>{{movie.release_date}}</i>
  </div>
</div>

<div>
  <button (click)="getMovies()">Get Movies</button>
</div>
<hr>

<h3>Ship examples - routes</h3>
<app-ship-list></app-ship-list>
<hr>


<h3>Ship details</h3>
<router-outlet></router-outlet>






